$tundora-color: #444444;
$cardinal-color: #b01736;
$brick-red-color: #d43152;
$shiraz-color: #a30c33;
$pickled-bluewood-color: rgba(45, 54, 83, .5);

$nova: 'ProximaNova', Arial, sans-serif;
$condensed: 'ProximaNovaCondensed', Arial, sans-serif;

$font: 600 18px $condensed;
